.layout-container {
  display: flex;
  overflow: hidden;
}

.layout-side-content {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-main-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}
